/* Style sheet for Johannes */

/* fonts */
@font-face {
    font-family: "Bonveno";
    src: url(./fonts/BonvenoCF-Light.woff2);
}
@font-face {
    font-family: "ArbutusSlab";
    src: url(./fonts/ArbutusSlab-Regular.woff2);
}
@font-face {
    font-family: "Reey";
    src: url(./fonts/Reey-Regular.woff);
}
@font-face {
    font-family: "OpenDyslexicRegular";
    src: url(./fonts/OpenDyslexicThree-Regular.woff2);
}
@font-face {
    font-family: "OpenDyslexicBold";
    src: url(./fonts/OpenDyslexicThree-Bold.woff2);
}
@font-face {
    font-family: "EspressoBold";
    src: url(./fonts/EspressoBold.woff2);
}

/* General */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}
html {
    scroll-snap-type: y mandatory;
}
a:hover {
    cursor: pointer;
    text-shadow: 0 0 20px white;
    transition: text-shadow .5s ease, font-size .5s ease;
    font-size: calc(+20px);
}
a {
color: inherit;
    transition: text-shadow .5s ease, font-size .5s ease;
}
body {
height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: black;
}
.pages {
    width:100%;
    height: 100vh;
min-height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* scroll-snap-align: center; */
}

/* Layer Mask */
.layerMask {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    min-height: 120vh;
    position: fixed;
    background-image: linear-gradient( rgb(20, 19, 19) 15%, transparent 30%,transparent 50%, rgb(20, 19, 19) 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.arrow {
    position: fixed;
    top: 85vh;
    height: 30px;
    width: 30px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow i{
    color: white;
    font-size: 2rem;
    transition: text-shadow .5s ease;
}
.arrow > i:hover {
    cursor: pointer;
    text-shadow: 0 0 20px white;
    transition: text-shadow .2s ease;
}

/* navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 1rem 1rem;
    border-bottom: 2px solid black;
    background: linear-gradient( transparent, rgba(50, 50, 50, 0.8));
}
.logo a {
    font-family: "EspressoBold", sans-serif;
    font-size: 2rem;
    margin: 0 1rem;
    text-decoration: none;
}
.navbar > .items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.9rem;
    font-family: "OpenDyslexicRegular", sans-serif;
}
.link a{
    padding: 0 1rem;
    text-decoration: none;
    border-left: 2px solid white;
}

/* Front Page */
.frontPage {
    height: 80vh;
}
.title {
    padding-top: 1000px;
    opacity: 0;
    color: transparent;
    position: relative;
    margin: 0 2rem;
    font-size: 4rem;
    text-align: center;
    font-family: "EspressoBold", sans-serif;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.216);
    font-weight: bold;
    scroll-snap-align: center;
    background-image: url(./images/OpenAI12.jpeg);
    background-clip: text;
    background-attachment: fixed;
    animation: titleAnimation 3s .5s cubic-bezier(.31,-0.09,.38,.82) forwards;
    transition: font-size 1s ease-in-out;
}
@keyframes titleAnimation{
    0% {
        padding-top: 1000px;
        opacity: 0;
    }
    100% {
        padding-top: 0px;
        opacity: 1;
    }
}

/* Images */
.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
    gap: 3rem;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid white;
    scroll-snap-align: center;
    transition: width 2s ease, height 2s ease, box-shadow 1s ease;
}
.image:hover {
    width: 350px;
    height: 350px;
    transition: width 2s ease, height 2s ease, box-shadow 1s ease;
    box-shadow: 0 0 50px rgb(183, 50, 255);
}
.image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-position: center;
}
.imageInfo {
    font-family: "OpenDyslexicRegular", sans-serif;
    text-align: center;
    scroll-snap-align: center;
}

/* Pages */
.aboutPage,
.contactPage {
    scroll-snap-align: center;
    font-family: "OpenDyslexicRegular", sans-serif;
}
.header {
    margin: 1rem;
    font-size: 3rem;
    text-align: center;
    font-family: "EspressoBold", sans-serif;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    text-align: center;
    max-width: 800px;
}

/* About Page */
.signature {
    position: relative;
    top: 20px;
    left: 120px;
}

/* Contacts Page */
.contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
    gap: 1rem;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 20;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    gap: 10px;
    box-shadow: 0 -60px 70px 70px black;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    font-family: "OpenDyslexicRegular", sans-serif;
    background: rgb(20, 19, 19);
    scroll-snap-align: center;
}
.footer span {
    font-family: "Reey", sans-serif;
}

/* Loader Page */
#loader-page {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 100;
}
.loader-page-section {
    position: fixed;
    top: 0;
    background-image: linear-gradient(black,grey);
    height: 100%;
    width: 51%;
    z-index: 100;
}
#loader-page .loader-page-section.left-section {
    left:0;
}
#loader-page .loader-page-section.right-section {
    right:0;
}
#loader {
    content: "";
    position: relative;
    height: 120px;
    width: 120px;
    border: 5px white transparent;
    border-top: 5px white solid;
    border-radius: 50%;
    box-shadow: 0 -5px 20px -3px white;
    z-index: 101;
    animation: spin 2s linear infinite;
}
#loader::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 5px white transparent;
    border-top: 5px white solid;
    border-radius: 50%;
    box-shadow: 0 -5px 20px -3px white;
    animation: spin 4s linear infinite;
}
#loader::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border: 5px white transparent;
    border-top: 5px white solid;
    border-radius: 50%;
    box-shadow: 0 -5px 20px -3px white;
    animation: spin 1.5s linear infinite;
}
@keyframes spin {
    0% { rotate: 0deg;}
    50% {rotate: 180deg;}
    100% {rotate: 360deg;}
}
.loaded #loader {
    opacity: 0;
    visibility: none;
    content: "";
    transition: all 0.5s ease-out;
}
.loaded .loader-page-section.left-section {
    visibility: none;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: all 0.7s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded .loader-page-section.right-section {
    visibility: none;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transition: all 0.7s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader-page{
    visibility: none;
    display: none;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transition: all 0.5s 1s ease-out;
}

/* Narrow Screen */
@media (max-width:450px) {
    .logo a {
        font-size: 1rem;
    }
    .footer  {
        font-size: .8rem;
    }
}
@media (max-width:350px) {
    .logo a {
        font-size: .8rem;
    }
}

/* Wide Screen */
@media (min-width:850px) {
    .title {
        font-size: 7rem;
    }
}
@media (min-width:950px) {
    .title {
        font-size: 8rem;
    }
}
@media (min-width:1200px) {
    .title {
        font-size: 10rem;
    }
}
@media (min-width:1420px) {
    .title {
        font-size:11rem;
    }
}