/* Light Theme Style */
* {
    color: rgb(56, 53, 53);
}
a:hover{
    text-shadow: 0 0 20px rgb(246, 184, 121);
}
body {
    background: antiquewhite;
}
.layerMask {
    background-image: linear-gradient( antiquewhite 8%, transparent 25%,transparent 50%, antiquewhite 80%);
}
.arrow i {
    color: rgb(56, 53, 53);
}
.arrow > i:hover {
    text-shadow: 0 0 20px rgb(246, 184, 121);
}
.navbar {
    border-bottom: 2px solid antiquewhite;
    background: linear-gradient( transparent, white);
}
.link a {
    border-left: 2px solid rgb(56, 53, 53);
}
.title {
    color: transparent;
}
.image:hover {
    box-shadow: 0 0 50px rgb(246, 184, 121);
}
.footer {
    box-shadow: 0 -60px 70px 70px white;
    color: rgba(56, 53, 53, .8);
    border-top: 1px solid rgba(20, 19, 19, 0.8);
    background: white;
} 
.lightButton {
    background: white;
    border: 2px solid rgba(56, 53, 53, 0.2);
}
.lightButton::after {
    
}